/*code gebruikt van Erik Moorman en aangepast*/

header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e5d56;
    padding: 10px;
    transition: 0.3s;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 70px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;

    right: -250px;
    background: #2e5d56;
    width: 250px;
    height: 100%;
    padding-top: 65px;
    z-index: 1;
    transition: 0.5s;

}

.menu li {
    list-style-type: none;
    width: 100%;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 1;
    transition: 0.3s;
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.menu li a:hover {
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    margin-right: 20px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
   display: block;
}

nav input:checked ~ .hamburger {
    background: transparent;
}

nav input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

nav input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

nav input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

/* Eigen code */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffd9ab;
}

p {
    font-size: 0.9em;
}

h1 {
    color: whitesmoke;
    font-size: 1.7em;
    font-family: Acumin Variable Concept;
}

h3 {
    color: #2e5d56;
}

p, h3 {
    align-items: center;
    padding: 13px;
}

main img {
    height: 300px;
    border-radius: 10px;
    margin-left: 13px;
}

footer {
    background-color: #2e5d56;
    height: 100px;
    width: 100%;
    margin-top: 30px;
}
 
footer img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 8px;
}

footer p {
    color: #2e5d56;
    background-color: #BCE9E2;
    display: flex;
    justify-content: center;
}

.lijnen {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.lijnen h2 {
    padding: 10px;
}

.lijnen .lijn {
    flex: 1;
    height: 3px;
    background-color: #2e5d56;
    border-radius: 5px;
}

/* Homepagina */
.groen_vlak {
    width: 375px;
    height: 300px;
    background-color: #BCE9E2;
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.groen_vlak img {
    height: 250px;
    margin-top: 25px;
    display: flex;
    justify-content: right;
}

.groen_vlak h2 {
    display: flex;
    justify-content: left;
}

/* Fietsbezorging */
.boog {
    background-color: #2e5d56;
    width: 350px;
    height: 470px;
    border-radius: 70px 0px 70px 0;
    margin: 13px;
}

.boog h2 {
    margin-left: 80px;
    padding-top: 50px;
    color: whitesmoke;
}

.boog p {
    padding-top: 40px;
    color: #BCE9E2;
    margin-left: 5px;
}

.boog img {
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin-left: 25px;
}

.boog ul {
    margin-left: 25px;
    margin-right: 20px;
    font-size: 0.9em;
    color: #BCE9E2;
}

.tweede {
    border-radius: 0 70px 0 70px;
}

.tweede h2 {
    margin-left: 25px;
}

.tweede img {
    width: 60px;
    height: 60px;
    margin-left: 260px;
    margin-top: 5px;
}

.derde {
    height: 635px;
}

.derde img {
    width: 250px;
    height: 150px;
    margin-top: 3px;
}

.derde h2 {
    font-size: 1em;
    margin-left: 25px;
    margin-bottom: 10px;
}

.derde li {
    color: black;
}

.derde em {
    color: #BCE9E2;
}

/* Duurzaamheidsdoelen */ 
.kleurenovergang {
    height: 15vh;
    background-image: url(afbeeldingen/kleurenovergang.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 2px;
}

/* Contact */
.contact_formulier h3 {
    font-size: 0.9em;
    margin-left: 20px;
}

.contact_formulier h4 {
    text-decoration: none;
    background-color: #2e5d56;
    width: 100px;
    height: 50px;
    border-radius: 5px 0 5px 0;
    margin-top: 20px;
    margin-left: 30px;
}

.verzend_knop h4 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: solid;
}

.verzend_knop a:hover { /* waarom werkt dit niet? */
    background-color: #BCE9E2;
    color: black;
}

.verzend_knop a:link {
    text-decoration: none;
}

.contact_vlak_klein {
    background-color: whitesmoke;
    width: 220px;
    height: 45px;
    border: 1px solid #2e5d56;
    margin-bottom: 25px;
    margin-left: 30px;
}

.contact_vlak_groot {
    background-color: whitesmoke;
    width: 320px;
    height: 120px;
    border: 1px solid #2e5d56;
    margin-left: 30px;
}


/* Recensies */
.zicht {
    width: 100vw;
    height: 150vh;
    background-color: #ffd9ab;
}

.zicht h3 {
    background-color: #BCE9E2;
    color: #2e5d56;
    font-size: 1em;
    display: flex;
    justify-content: center;
    border-bottom: solid;
}

.zicht:hover .verborgen {
    height: 50%;
    transition: 5s ease-in;
}

.verborgen {
    width: 100%;
    height: 0%;
    background-color: #2e5d56;
    transition: 2s ease-in;
    overflow: hidden;
}

.verborgen p {
    color: whitesmoke;
}

.verborgen h4 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}