/*code gebruikt van Erik Moorman en aangepast*/

header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e5d56;
    transition: 0.3s;
    position: sticky;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 70px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;

    right: -290px;
    background: #2e5d56;
    width: 290px;
    height: 100%;
    padding-top: 65px;
    z-index: 1;
    transition: 0.5s;

}

.menu li {
    list-style-type: none;
    width: 100%;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 1;
    transition: 0.3s;
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.menu li a:hover {
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    margin-right: 20px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
   display: block;
}

nav input:checked ~ .hamburger {
    background: transparent;
}

nav input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

nav input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

nav input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

/* Eigen code */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: anonymous-pro, monospace;
}

body {
    background: #ffd9ab;
}

p {
    font-size: 0.9em;
}

h1 {
    color: whitesmoke;
    font-size: 1.7em;
}

h3 {
    color: #2e5d56;
}

p, h3 {
    align-items: center;
    padding: 13px;
}

footer {
    background-color: #2e5d56;
    height: 90px;
    width: 100%;
    margin-top: 40px;
}
 
footer img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 40px;
}

footer p {
    color: #2e5d56;
    background-color: #BCE9E2;
    display: flex;
    justify-content: center;
}

.lijnen {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.lijnen h2 {
    padding: 10px;
}

.lijnen .lijn {
    flex: 1;
    height: 3px;
    background-color: #2e5d56;
    border-radius: 5px;
}

/* Homepagina */
main img {
    height: 325px;
}

.homepagina_tekst {
    background-color: #2e5d56;
    color: whitesmoke;
    width: 375px;
    border-radius: 0 0 20px 20px;
    margin-top: 0px;
}

.driehoek img {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 300px;
    margin-bottom: 0px;
}

/* Fietsbezorging */
.boog {
    background-color: #2e5d56;
    width: 350px;
    height: 500px;
    border-radius: 70px 0px 70px 0;
    margin: 13px;
}

.boog h2 {
    margin-left: 80px;
    padding-top: 50px;
    color: whitesmoke;
}

.boog p {
    padding-top: 40px;
    color: whitesmoke;
    margin-left: 5px;
}

.boog img {
    width: 300px;
    height: 150px;
    margin-top: 50px;
    margin-left: 25px;
}

.tweede {
    border-radius: 0 70px 0 70px;
    height: 500px;
}

.tweede h2 {
    margin-left: 20px;
}

.tweede img {
    width: 60px;
    height: 60px;
    margin-left: 260px;
    margin-top: 5px;
}

.derde {
    height: 100px;
    border-radius: 0 0 0 0;
    background-color: whitesmoke;
    margin-top: 50px;
}

.derde img {
    width: 250px;
    height: 150px;
    margin-top: 3px;
}

.derde h2 {
    font-size: 1em;
    margin-left: 25px;
    margin-right: 5px;
    padding-top: 20px;
    color: #2e5d56;
}

.vierde {
    height: 140px;
    border-radius: 0 0 0 0;
}

.vierde h3 {
    color: whitesmoke;
}

.vierde p {
    padding-top: 10px;
}

.vijfde {
    height: 180px;
    border-radius: 0 0 0 0;
}

.vijfde h3 {
    color: whitesmoke;
}

.vijfde p {
    padding-top: 10px;
}

/* Duurzaamheidsdoelen */ 
.wit_blok {
    width: 365px;
    height: 400px;
    background-color:#BCE9E2;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 0 20px 0px 20px;
    border: #2e5d56;
}

.wit_blok img {
    width: 120px;
    height: 180px;
    margin-left: 240px;
    margin-top: 60px;
}

.wit_blok h2 {
    margin-left: 15px;
    padding-top: 20px;
    color:#2e5d56;
    font-size: 1.7em;
}

.wit_blok h3 {
    font-size: 0.9em;
    color:#2e5d56;
}

.wit_blok p {
    font-size: 0.9em;
}

.wit_blok h4 {
    width: 335px;
    margin-left: 15px;
    font-size: 0.9em;
    font-weight: 200;
}

.bestel_knop {
    background-color:#2e5d56;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}

.bestel_knop h5 {
    color:whitesmoke;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bestel_knop a {
    text-decoration: none;
}

.wit_vlak {
    width: 310px;
    height: 160px;
    background-color:#2e5d56;
    margin-top: 30px;
    border-radius: 0 10px 0 0;
}

.wit_vlak h5 {
    margin-left: 10px;
    padding-top: 10px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: 700;
    text-decoration: underline;
}

.wit_vlak p {
    color: whitesmoke;
}

.rechts {
    margin-left: 70px;
    border-radius: 10px 0 0 0;
}

.rechts p {
    margin-right: 5px;
    color: whitesmoke;
}

/* Recensies */
.kaart {
    display: flex;
    flex-direction: row;
}

.kaart h3 {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

.personages {
    width: 190px;
    height: 360px;
    background-color: #BCE9E2;
    border-radius: 0 25px 0 25px;
    margin: 15px;
    /* display: flex;
    justify-content: center; */
    border: 4px solid #2e5d56; 
}

.personages img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #2e5d56;
    margin-top: 15px;
    margin-left: 25px;
}

.personages p {
    margin-left: 2px;
    font-size: 0.6em;
}

.review img {
    border-radius: 0px;
    border: none;
    width: 120px;
    height: 30px;
    margin-left: 15px;
}

.johanneke img {
    margin-top: 30px;
}

.louise {
    margin-top: -5px;
}

.miriam {
    margin-top: -22px;
}

.mick {
    margin-top: 45px;
}

.britt {
    margin-top: 15px;
}

.matthijs {
    margin-top: 35px;
}

/* Contact */
.contact_formulier h3 {
    font-size: 0.9em;
    margin-left: 20px;
}

.contact_formulier h4 {
    text-decoration: none;
    background-color: #2e5d56;
    width: 100px;
    height: 50px;
    border-radius: 5px 0 5px 0;
    margin-top: 20px;
    margin-left: 30px;
}

.verzend_knop h4 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: solid;
}

.verzend_knop a:link {
    text-decoration: none;
}

.contact_vlak_groot {
    background-color: whitesmoke;
    width: 320px;
    height: 120px;
    border: 1px solid #2e5d56;
    margin-left: 30px;
    box-shadow: 5px 8px #2e5d56;
}

.contactveld {
    box-shadow: 5px 5px #2e5d56;
    width: 220px;
    height: 45px;
    border: 0;
    margin-left: 30px;
    margin-bottom: 25px;
}

.contactveld_groot {
    box-shadow: 7px 7px #2e5d56;
    width: 300px;
    height: 150px;
    border: 0;
    margin-left: 30px;
    margin-bottom: 25px;
}